<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto animate__animated animate__bounceIn animate__slow">
            <h1 class="mb-1">Favorites Images</h1>
            <h3 class="mb-5">Store Your Favorites Images</h3>
            <a href="/signin" class="btn btn-primary">Let's Get Started</a>
        </div>
    </header>
</main>