<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--GOOGLE FONTS--}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
    {{!--FONT-AWESOME--}}
    <script src="https://kit.fontawesome.com/8d2920f185.js" crossorigin="anonymous"></script>
    {{!--ANIMATE CSS--}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {{!--BOOSTRAP 4--}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {{!--CUSTOM CSS--}}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://e1.pngegg.com/pngimages/748/1000/png-clipart-anime-folder-icons-6-amagamiharuka-amagami-ss-folder-icon.png">
    <title>Img App</title>

</head>

<body>
    {{> navigation }}
    {{> menssage }}
    {{{ body }}} {{!--SOLO CAMBIARA EN EL BODY--}}
    <footer class="bg-ligth text-center  animate__animated animate__flipInY animate__slow">
        <p class="h3">APLICATION CREADEB BY <i>DANNY ALVAREZ </i>&copy;</p>
    </footer>

    {{!--BOOSTRAP 4--}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>